<p>
  The maximum credit for this element is 20 points.
</p>

<p>
  MI2 credit is for providing information that is shown on the community’s FIRM that is not needed for
  insurance rating. This can include information about protected coastal barriers, floodways, or lines
  demarcating wave action. Credit for MI2 (and MI1) is for reading and providing information on the current effective FIRM. If a preliminary FIRM has been adopted as the community’s regulatory map,
then items such as the LiMWA on the preliminary FIRM are credited under MI3.
</p>

<section id="322b-1" aria-labelledby="322b-1-title">
  <h2 id="322b-1-title" class="h5">Credit Criteria for MI2</h2>

  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      The additional information must include whether the property is in an
      <q>undeveloped coastal barrier</q> or <q>otherwise protected area</q> of the
      Coastal Barrier Resources System. If so, the community must advise the inquirer
      that flood insurance, federal disaster assistance, and other types of federal
      financial assistance are not available for buildings constructed or substantially
      improved after the effective date of designation, as shown on the FIRM. See more
      information on the Coastal Barrier Resources System.
    </li>
    <li>
      The additional information must include whether the property is located seaward
      of the Limit of Moderate Wave Action (LiMWA), if shown on the FIRM. If it is, the
      inquirer must be advised that waves and velocity from coastal storms and
      hurricanes can cause significant damage to a structure that is not properly
      elevated on an open foundation and protected from erosion and scour.
    </li>
    <li>
      The additional information must include whether the property is located in a
      floodway. If it is, the community must explain the regulatory requirements for
      developing in a floodway.
    </li>
  </ol>
  <p>If the community’s FIRM does not show any Coastal Barrier Resources System areas, LiMWAs, or
floodways, there is no credit for MI2.</p>
</section>

<section id="322b-2" aria-labelledby="322b-2-title">
  <h2 id="322b-2-title" class="h5">Credit Points for MI2</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI2 = 20 points, for providing non-insurance rating information that appears on the community’s FIRM
  </div>
</section>