<p>The maximum credit for this element is 20 points.</p>

<p>
  MI3 credit is for providing information about flood problems other than those
  shown on the FIRM. Note that providing information about historical flooding is
  credited under MI6.
</p>

<section id="322c-1" aria-labelledby="322c-1-title">
  <h2 id="322c-1-title" class="h5">Credit Criteria for MI3</h2>

  <ol class="paren-numlist">
    <li>The activity credit criteria in Section 321.b must be met.</li>
    <li>
      The other flood problem information provided must be about a flood hazard
      not shown on the community’s FIRM. Examples include, but are not limited to
      <ul>
        <li>Areas predicted to be flooded in the future</li>
        <li>Areas subject to extreme tidal flooding</li>
        <li>Local drainage problems</li>
        <li>
          Areas mapped and regulated outside the SFHA (e.g., in watersheds smaller than FEMA’s
          mapping threshold) (note that such mapping can receive credit under Activity 410 (Flood
          Hazard Mapping))
        </li>
        <li>
          A levee or dam failure inundation zone (note that such mapping is needed for credit under
          Activities 620 (Levees) and 630 (Dams))
        </li>
        <li>
          SLOSH maps (the Sea, Lake and Overland Surges from Hurricanes (SLOSH) model is a
          computerized model developed by the National Weather Service to estimate storm surge
          heights)
        </li>
        <li>
          If a preliminary FIRM is adopted as the community’s regulatory map, then items such as the
          LiMWA on the preliminary FIRM are credited under MI3
        </li>
        <li>
          A community can receive credit for both MI3 and MI6 with the same repetitive loss area map.
          This can only be done if parts of the repetitive loss area are outside the SFHA (MI3) and the
          community informs the inquirer of two different pieces of information: first, that it is a problem
          area outside the SFHA (MI3); and second, that it is an historic flooding area (MI6). A repetitive
          loss area map that only contains repetitive loss areas inside the SFHA does not qualify for MI3.
        </li>
      </ul>
    </li>
  </ol>
</section>

<section id="322c-2" aria-labelledby="322c-2-title">
  <h2 id="322c-2-title" class="h5">Credit Points for MI3</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI3 = 20 points, for providing information about flood problems other than those shown on the FIRM
  </div>
</section>