<p>The maximum credit for this element is 20 points.</p>

<p>
  MI4 credit is for providing information about how deep flood waters can be anticipated to be in
  given areas of the community. The depth of expected flooding gives the inquirer a better concept
  of the flood hazard than does the base flood elevation alone.
</p>

<section id="322d-1" aria-labelledby="322d-1-title">
  <h2 id="322d-1-title" class="h5">Credit Criteria for MI4</h2>

  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      Depth data must be conveyed to inquirers. There are usually two ways to provide flood depth
      data. Either one is acceptable for credit.
      <ol>
        <li>
          Staff can provide information from a map that shows the depth of flooding at different
          flood recurrence levels. An example is shown in Figure 320-3.
        </li>
        <li>
          Staff can provide data on both the flood elevation and the ground or building elevation
          at a site. This could be obtained from the FIRM or flood elevation profile and a
          topographic base map or Elevation Certificate. Where there is no elevation data for the
          property in question, data from a neighboring building’s Elevation Certificate are
          acceptable to convey the flood depth in the area.
        </li>
      </ol>
    </li>
  </ol>
</section>

<section id="322d-2" aria-labelledby="322d-2-title">
  <h2 id="322d-2-title" class="h5">Credit Points for MI4</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI4 = 20 points, for providing information about flood depths
  </div>
  <figure id="320-3f" class="text-center">
    <img src="/images/{{ manual.slug }}/320-3.webp" class="img-fluid" title="Figure 320-3. A flood depth map, one of the Risk MAP products." alt="Figure 320-3. A flood depth map, one of the Risk MAP products." width="947" height="661">
    <figcaption class="fw-bold">Figure 320-3. A flood depth map, one of the Risk MAP products.</figcaption>
  </figure>
</section>