<p>The maximum credit for this element is 20 points.</p>

<p>
  MI5 credit is for providing information about special flood-related hazards in the community. If the
  community is receiving credit for regulating one of the special flood-related hazard areas described
  in Section 401 or credited elsewhere, inquirers should be advised whether the property falls within a
  special flood-related hazard area and of any additional regulatory requirements the community has
  for developing properties in that area. The credit for MI5 is not limited to the seven special hazards
  listed, nor does a community need credit for a special flood-related hazard to receive credit for
  advising inquirers about areas subject to the hazard.
</p>

<p>Creditable special flood-related hazards include, but are not limited to:</p>

<ul>
  <li>Uncertain flow paths—alluvial fans, moveable bed streams, and other floodplains where the channel moves during a flood.</li>
  <li>Closed basin lakes—lakes that have a small or no outlet that may stay above flood stage for weeks, months, or years.</li>
  <li>Ice jams—flooding caused when warm weather and rain break up a frozen river. The broken ice floats downriver until it is blocked by an obstruction, such as a bridge or shallow area, creating a dam.</li>
  <li>Land subsidence—lowering of the land surface caused by withdrawal of subsurface water or minerals or by compaction of organic soils.</li>
  <li>Mudflow hazards—a river, flow, or inundation of liquid mud down a hillside, usually as a result of the loss of brush cover and the subsequent accumulation of water on the ground, preceded by a period of unusually heavy or sustained rain.</li>
  <li>Coastal erosion—areas subject to the wearing away of land masses caused primarily by waves on the oceans or the Great Lakes.</li>
  <li>Tsunamis—large ocean waves caused by an underwater earthquake or volcano.</li>
  <li>Coastal A Zones credited under Activity 430 (Higher Regulatory Standards), Section 432.k.</li>
</ul>

<section id="322e-1" aria-labelledby="322e-1-title">
  <h2 id="322e-1-title" class="h5">Credit Criteria for MI5</h2>
  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      The affected area must be mapped for this credit, but does not have to be regulated. If there are
      no regulations, the inquirer must be told what precautions should be taken when developing or
      improving the property.
    </li>
  </ol>

</section>

<section id="322e-2" aria-labelledby="322e-2-title">
  <h2 id="322e-2-title" class="h5">Credit Points for MI5</h2>

  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI5 = 20 points, for providing information about a special flood-related hazard that does not appear on the FIRM
  </div>
</section>