<p>
  The maximum credit for this element is 20 points. MI6 credits providing information about past floods
  that have occurred at or near the site in question. This can include, but is not limited to:
</p>

<ul>
  <li>Whether and when the area has been flooded in the past</li>
  <li>Historic flood levels or the location of a nearby high-water mark</li>
  <li>Whether the property is in a mapped repetitive loss area</li>
  <li>Photographs of past flooding at sites around the community</li>
</ul>

<section id="322f-1" aria-labelledby="322f-1-title">
  <h2 id="322f-1-title" class="h5">Credit Criteria for MI6</h2>
  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      Information on historical flooding must be provided. Relevant available information should be
      provided, such as the dates of past flooding in the area, whether people were killed or injured,
      and the amount of warning time. Some of this information may be available from the community’s
      floodplain management or hazard mitigation plan or the community’s CRS Self Assessment
      conducted under Section 240.
    </li>
  </ol>
</section>

<section id="322f-2" aria-labelledby="322f-2-title">
  <h2 id="322f-2-title" class="h5">Credit Points for MI6</h2>

  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI6 = 20 points, for providing information about past flooding at or near the site in question
  </div>
</section>