<p>The maximum credit for this element is 20 points.</p>

<p>
  MI7 credit is for providing information about areas that should be protected because of their
  natural floodplain functions. Many types of maps show such areas, including but not limited to:
</p>

<ul>
  <li>Areas mapped in the National Wetlands Inventory</li>
  <li>Areas mapped as critical habitat by the U.S. Fish and Wildlife Service</li>
  <li>Areas identified in state or regional programs, such as the Colorado Natural Heritage Program maps of existing and potential conservation areas</li>
  <li>Areas receiving natural floodplain functions credit under Activity 420 (Open Space Preservation)</li>
  <li>Areas identified in a natural floodplain</li>
</ul>

<section id="322g-1" aria-labelledby="322g-1-title">
  <h2 id="322g-1-title" class="h5">Credit Criteria for MI7</h2>

  <ol class="paren-numlist">
    <li>
      The activity credit criteria in Section 321.b must be met.
    </li>
    <li>
      Information must be provided about any natural floodplain functions the area provides.
    </li>
  </ol>
</section>

<section id="322g-2" aria-labelledby="322g-2-title">
  <h2 id="322g-2-title" class="h5">Credit Points for MI7</h2>
  <div class="ms-3 mb-3 py-3 border-top border-top-2 border-bottom border-bottom-2 border-dark">
    MI7 = 20 points, for providing information about areas that should be protected because of their natural floodplain functions
  </div>
</section>