<ol class="paren-numlist">
  <li>
    At each verification visit,
    <ol>
      <li>
        <p>Documentation that shows how the community publicizes the service each year (see Section
        321.b, activity credit criterion (6)).</p>
        <p>If the community publicizes this service through an
        annual outreach project credited under Activity 330, the publicity materials may be included
        with the documentation for Activity 330. There must be a notation (e.g., “320”) in the margin
        of the portion of the outreach project where the map information service is addressed.</p>
        <p>If a
        Program for Public Information is used to determine the appropriate publicity mechanism, it
        must identify the audience(s) for the service and discuss the best way to publicize the map
        information service to the intended audience(s).</p>
        <div class="card mb-3">
          <div class="card-header">
            Example 325.a-1
          </div>
          <div class="card-body">
            <div class="card-text">
              <p>City gives Answers to Floodplain Questions</p>
              <p>
                If you want to know if a property is in the Special Flood Hazard Area, check our website at
                www.__________.org/flood/mapinfo. You’ll find a wealth of information about the City’s Flood
                Insurance Rate Map, coastal high hazard areas, flood depths at your property, natural
                conservation areas and wetlands, flood insurance, special rules for building in the floodplain, and
                ideas for protecting your property from flood damage. Or you can call the Building Department
                with all of your floodplain questions at 555/123-4567.
              </p>
            </div>
          </div>
        </div>
      </li>
      <li>
        Explanation of how the community keeps the FIRM updated (Section 321.b, activity credit
        criterion (7)). This may be a verbal explanation at the time of the verification visit.
      </li>
      <li>
        Copies of all FIRMs that have been in effect since 1999 (Section 321.b, activity credit
        criterion (8)).
      </li>
      <li>
        A record, copies of letters, or log of the service (Section 321.b, activity credit criterion (9)).
      </li>
      <li>
        If another agency or organization provides map information, documentation that the agency has
        agreed to provide the service to all inquirers and will allow the Contractor to verify its work.
      </li>
    </ol>
  </li>
  <li>
    With the annual recertification,
    <ol>
      <li>
        A copy of material showing how the community publicized the service during the year.
      </li>
      <li>
        A page from the log of the service or copies of three letters that were completed during the
        year (Section 321.b, activity credit criterion (9)).
      </li>
    </ol>
  </li>
</ol>