<ul>
  <li>
    Credit under Activity 320 is provided for explaining map information to the public. Credit for
    additional map data (AMD) under Activity 440 (Flood Data Maintenance) is provided for
    maintaining and updating the data. A community can get either credit without getting credit
    for the other.
  </li>
  <li>
    If an inquirer wants to know more about the flood hazard, flood insurance, and/or protecting
    natural floodplain functions, the community should have resources available to answer those
    questions. Such resources are credited by the CRS under Activity 350 (Flood Protection
    Information), Activity 360 (Flood Protection Assistance), and Activity 370 (Flood Insurance
    Promotion).
  </li>
  <li>
    If the community develops a Program for Public Information (credited under Activity 330
    (Outreach Projects)), the Program for Public Information committee should discuss what map
    information to provide and how the service would best be publicized.
  </li>
  <li>
    Some communities’ map information services help real estate agents find out the flood
    hazard for a property. Having an objective source of this information can help overcome
    some agencies’ reluctance to disclose the flood hazard and can help the community receive
    credit under Activity 340 (Hazard Disclosure).
  </li>
</ul>